<form class="form-horizontal" ng-controller="AddFoodController as ctrl">
  <div class="form-group">
    <label class="control-label col-sm-2" for="name">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name">
    </div>

  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="carbohydrates">Carbohydrates</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="carbohydrates" ng-model="ctrl.food.carbohydrate.quantity">
    </div>
    <div class="col-sm-4 selectContainer">
      <select class="form-control" name="metric" ng-model="ctrl.food.carbohydrate.metric">
        <option ng-repeat="metric in ctrl.metrics">{{metric}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="protein">Protein</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="protein" ng-model="ctrl.food.protein.quantity">
    </div>
    <div class="col-sm-4 selectContainer">
      <select class="form-control" name="metric" ng-model="ctrl.food.protein.metric">
        <option ng-repeat="metric in ctrl.metrics">{{metric}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="fat">Fat</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="fat" ng-model="ctrl.food.fat.quantity">
    </div>
    <div class="col-sm-4 selectContainer">
      <select class="form-control" name="metric" ng-model="ctrl.food.fat.metric">
        <option ng-repeat="metric in ctrl.metrics">{{metric}}</option>
      </select>
    </div>
  </div>
</form>