<div class="food-list">
  <input type="text" class="form-control no-outline-border"
    placeholder="Search.."></input>
  <div class="list-group">
    <div class="nav-header disabled">
      <a>Header A</a>
    </div>
    <button type="button" class="list-group-item">Item1</button>
    <button type="button" class="list-group-item">Item2</button>
    <button type="button" class="list-group-item">Item3</button>
    <div class="nav-header disabled">
      <a>Header A</a>
    </div>
    <button type="button" class="list-group-item">Item1</button>
    <button type="button" class="list-group-item">Item2</button>
    <button type="button" class="list-group-item">Item3</button>
  </div>
</div>
<div class="panel panel-default food-information-panel">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">Panel content</div>
</div>