      <div class="container">
		<div class="register-panel">
			<div class="upper-register-panel">
				<h1 class="register-label">Register Now!</h1>
			</div>
			<form class="form register-form">
				<div class="form-group">
					<input type="email" class="form-control email-input no-outline-border" placeholder="Email" id="email" ng-model="ctrl.email">
					
					<input type="password" class="form-control password-input no-outline-border" placeholder="Password" id="password" ng-model="ctrl.password">
					
					<input type="password" class="form-control password-input no-outline-border" placeholder="Re-type password" id="repassword">
					
					<button type="submit" class="btn btn-default register-button no-outline-border btn-block" ng-click="ctrl.register()">Register</button>
				</div>
			</form>
			<div class ="lower-register-panel">
			</div>
		</div>
	  </div>